/* ==========
     common
   ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  font-family: 'Lato', sans-serif;
}
#root {
  height: 100vh;
  background: linear-gradient(to top, #dbdbd2 80%, #009688 20%);
  background-repeat: no-repeat;
  padding: 20px 0;
}
.active {
  background-color: #e9ebeb;
}
/* ===========
    container
   =========== */
.container {
  width: 70%;
  height: 100%;
  background-color: #eaeaea;
  /* border: 1px solid rgb(170, 33, 33); */
  margin: 0 auto;
  display: flex;
}
.avatar {
  width: 50px;
  border-radius: 50%;
}
/* ===========
    colonna sx
   =========== */
.colonna_sx {
  position: relative;
  width: 35%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.box-user {
  background-color: #fafafa;
  color: #b1b1b1;
  font-size: 1.2rem;
}
.box-user span {
  padding: 10px;
  display: flex;
}
.col-user-user i {
  margin: 0 7px;
  color: #b1b1b1;
  font-size: 1.2rem;
}
.box-notifiche {
  background-color: #8edafc;
  height: 100px;
  flex-shrink: 50%;
  /* display: flex; */
}
.box-notifiche i {
  background-color: #fafafa;
  color: #8edafc;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  border-radius: 50%;
}
.box-ricerca {
  background-color: #fafafa;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.box-ricerca input {
  height: 40px;
  width: 90%;
  border: none;
  border: 1px solid #fafafa;
}
.box-ricerca button {
  border: none;
  padding: 5px;
  background-color: #fafafa;
}
.elenco-contatti {
  background-color: #fff;
  overflow-y: scroll;
  flex-grow: 1;
}
.elenco-contatti li {
  display: flex;
  align-items: flex-start;
  padding: 10px 10px 10px 20px;
  border-bottom: 5px solid #fafafa;
  cursor: pointer;
}

/* ===========
    colonna dx
   =========== */
.colonna_dx {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.barra-contatto {
  background-color: #eaeaea;
  display: flex;
  padding: 10px;
  height: 70px;
}
.container_chat {
  /* height: 85%; */
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  background-image: url('../img/mine.jpg');
  overflow-y: scroll;
}
.data {
  color: #a2a5a7;
  font-size: 9px;
  display: flex;
  margin-top: 5px;
}
.msg_sent {
  background-color: #d5f9ba;
  height: fit-content;
  padding: 10px;
  margin: 15px;
  width: fit-content;
  border-radius: 15px;
  margin-left: auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 800;
}
.msg-recived {
  background-color: #fff;
  height: fit-content;
  padding: 10px;
  margin: 15px;
  width: fit-content;
  border-radius: 15px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 800;
}
.invia-msg {
  background-color: #f3eeea;
  height: 70px;
  display: flex;
}
.invia-msg input {
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  height: 50px;
  flex-grow: 1;
}
.msg_icon {
  padding: 20px;
  color: #6b7376;
  display: flex;
  align-items: center;
  font-size: 22px;
}
