/* ==========
     common
   ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
#root {
  height: 100vh;
  background: linear-gradient(to top, #dbdbd2 80%, #009688 20%);
  background-repeat: no-repeat;
  padding: 20px 0;
}

/* ===========
    container
   =========== */
.container {
  width: 70%;
  height: 100%;
  background-color: #eaeaea;
  /* border: 1px solid rgb(170, 33, 33); */
  padding: 10px;
  margin: 0 auto;
  display: flex;
}
.avatar {
  width: 50px;
  border-radius: 50%;
}
/* ===========
    colonna sx
   =========== */
.container_contact {
  position: relative;
  width: 35%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.box-user {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #b1b1b1;
  font-size: 1.2rem;
}
.box-user span {
  padding: 10px;
  display: flex;
  align-items: center;
}
.col-user-user i {
  margin: 0 7px;
  color: #b1b1b1;
  font-size: 1.2rem;
}
.box-notifiche {
  background-color: #8edafc;
  height: 100px;
  flex-shrink: 50%;
  display: flex;
  flex-direction: column;
}
.box-notifiche i {
  background-color: #fafafa;
  color: #8edafc;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  border-radius: 50%;
}
.box-ricerca {
  background-color: #fafafa;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.box-ricerca input {
  height: 40px;
  width: 90%;
  border: none;
  border: 1px solid #fafafa;
}
.box-ricerca i {
  color: #b1b1b1;
  position: absolute;
  left: 40px;
  top: 230px;
}
.elenco-contatti {
  background-color: #fff;
  overflow-y: scroll;
  height: 80%;
}
.elenco-contatti li {
  display: flex;
  align-items: flex-start;
  padding: 10px 10px 10px 20px;
  border-bottom: 5px solid #fafafa;
  cursor: pointer;
}

/* ===========
    colonna dx
   =========== */
.container_chat {
  width: 65%;
  height: 100%;
  background-color: #dcd4ce;
}

.active{
  background-color: #b1b1b1;
  color: white;
}